body {
    background-color: #466BB0;
    display: flex;
    justify-content: center;
    font-family: IBM Plex Sans,Helvetica Neue,Arial,sans-serif;
}

#welcomeBox {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    height: 150px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 45vh;
}

#welcomeText{
    font-size: 25px;
    font-weight: bold;
}

#prompt{
    margin-top: 15px;
}

#servicesBox{
    display: flex;
    margin-top: 15px;
}

.service {
    display: flex;
    margin: 0 10px 0 10px;
}

.btn {
    border-radius: 5px;
    cursor: pointer;
}